@import "tailwindcss";

/* Enable daisyUI plugin */
@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #d97706;
  --color-secondary: #10b981;
  --color-accent: #f43f5e;
  --color-neutral: #1f1f1f;
  --color-base-100: #fafaf9;
  --color-base-content: #111111;
  --color-success: #16a34a;
  --color-error: #dc2626;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #f59e0b;
  --color-secondary: #059669;
  --color-accent: #fb7185;
  --color-neutral: #262626;
  --color-base-100: #181818;
  --color-base-content: #f3f4f6;
  --color-success: #22c55e;
  --color-error: #ef4444;
}
body {
  font-family: "Inter", sans-serif;
}
