@import "tailwindcss";

@plugin "daisyui";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #252d3f;
  --color-secondary: #f8fafc;
  --color-accent: #f43f5e;
  --color-neutral: #1f1f1f;
  --color-base-100: #ffffff;
  --color-base-content: #111111;
  --color-success: #16a34a;
  --color-error: #dc2626;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #f8fafc;
  --color-secondary: #252d3f;
  --color-accent: #fb7185;
  --color-neutral: #262626;
  --color-base-100: #000000;
  --color-base-200: #121214;
  --color-base-content: #f3f4f6;
  --color-success: #22c55e;
  --color-error: #ef4444;
}
body {
  font-family: "Inter", sans-serif;
}
.lobster {
  font-family: "Lobster", sans-serif;
}
.title {
  @apply text-4xl md:text-5xl font-bold text-primary leading-tight;
}
.subtitle {
  @apply text-2xl font-bold text-primary;
}
/* * {
  outline: 1px solid red;
} */
